@use "shared/styles/placeholders";
@use "shared/styles/variables" as var;
@use "shared/styles/functions" as fn;
@use "shared/styles/mixins";

.timeline {
    margin-bottom: 30px;
}

.educationWrapper {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}

.iconBox {
    position: relative;
    background: fn.get-color("border-gradient-onyx");
    width: 30px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: fn.get-color("shadow-1");
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        inset: 1px;
        background: fn.get-color("eerie-black-1");
        border-radius: inherit;
        z-index: -1;
    }

    @include mixins.media("tablet") {
        width: 48px;
        height: 48px;
        border-radius: 12px;
    }
}

.iconBook {
    stroke: fn.get-color("orange-yellow-crayola");
    fill: fn.get-color("transparent");

    @include mixins.media("tablet") {
        width: 18px;
        height: 18px;
    }
}

.educationTitle {
    @extend %secondary-title;
}

.timelineList {
    margin-left: 45px;

    @include mixins.media("tablet") {
        margin-left: 65px;
    }
}

.timelineItem {
    position: relative;
    &:not(:last-child) {
        margin-bottom: 20px;
    }

    &:not(:last-child)::before {
        content: "";
        position: absolute;
        top: -25px;
        left: -30px;
        width: 1px;
        height: calc(100% + 50px);
        background: fn.get-color("jet");

        @include mixins.media("tablet") {
            left: -40px;
        }
    }

    &::after {
        content: "";
        position: absolute;
        top: 5px;
        left: -33px;
        height: 6px;
        width: 6px;
        background: fn.get-color("text-gradient-yellow");
        border-radius: 50%;
        box-shadow: 0 0 0 4px fn.get-color("jet");

        @include mixins.media("tablet") {
            height: 8px;
            width: 8px;
            left: -43px;
        }
    }
}

.timelineItemTitle {
    @extend %main-text;
    margin-bottom: 7px;
}

.timelineItemYear {
    color: fn.get-color("vegas-gold");
    line-height: 1.6;
}

.timelineItemPosition {
    @extend %main-text;
    color: fn.get-color("light-gray-70");
}

.experienceItem {
    margin-left: 10px;
}
