@use "sass:map";
@use "sass:list";
@use "./variables" as var;

@mixin media($screen) {
  $breakpoint: map-get(var.$breakpoints, $screen);

  @if $breakpoint {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  } @else {
    @error 'Invalid breakpoint. Available options are: mobile, tablet, desktop.';
  }
}

@mixin ease($ease, $properties...) {
  @if map.has-key(var.$easings, $ease) {
    $ease: map.get(var.$easings, $ease);

    transition: $ease;
  } @else {
    @warn "The variable $ease is not defined";
  }

  @if list.length($properties) > 0 {
    transition-property: $properties;
  }
}

@mixin set-border-radius($size) {
  @if $size == "large" {
    border-radius: 20px;
  } @else if $size == "small" {
    border-radius: 14px;
  } @else {
    @error 'Invalid size. Use "large" or "small".';
  }
}
