@use "./mixins" as mx;
@use "./variables" as var;
@use "./functions" as fn;

// fonts-style

%small-text {
    font-size: map-get(var.$font-sizes, "xxs");
    font-weight: 600;
    line-height: 1.2;

    text-transform: capitalize;

    @include mx.media("tablet") {
        font-size: map-get(var.$font-sizes, "md");
    }
}

%aside-text {
    font-size: map-get(var.$font-sizes, "xxs");
    font-weight: 600;
    line-height: 1.2;

    text-transform: uppercase;

    @include mx.media("tablet") {
        font-size: map-get(var.$font-sizes, "xs");
    }
}

%main-text {
    font-size: map-get(var.$font-sizes, "sm");
    font-weight: 300;
    line-height: 1.6;
    color: fn.get-color("light-gray");

    @include mx.media("tablet") {
        font-size: map-get(var.$font-sizes, "md");
    }
}

%main-title {
    font-size: map-get(var.$font-sizes, "xl");
    font-weight: 600;
    line-height: 1.6;
    color: fn.get-color("white-2");

    text-transform: capitalize;

    @include mx.media("tablet") {
        font-size: map-get(var.$font-sizes, "xxxl");
    }
}

%secondary-title {
    font-size: map-get(var.$font-sizes, "lg");
    font-weight: 600;
    line-height: 1.6;
    color: fn.get-color("white-2");

    text-transform: capitalize;

    @include mx.media("tablet") {
        font-size: map-get(var.$font-sizes, "xl");
    }
}
%ordinary-title {
    font-size: map-get(var.$font-sizes, "md");
    font-weight: 600;
    line-height: 1.5;
    color: fn.get-color("white-2");

    text-transform: capitalize;

    @include mx.media("tablet") {
        font-size: map-get(var.$font-sizes, "lg");
    }
}

%show-more {
    font-size: map-get(var.$font-sizes, "sm");
    font-weight: 500;
    line-height: 1.2;
    color: fn.get-color("orange-yellow-crayola");

    text-transform: capitalize;
}

%post-title {
    font-size: map-get(var.$font-sizes, "md");
    font-weight: 600;
    line-height: 1.6;

    color: fn.get-color("white-2");

    @include mx.media("tablet") {
        font-size: map-get(var.$font-sizes, "lg");
    }
}

%filter-title {
    font-size: map-get(var.$font-sizes, "lg");
    font-weight: 400;
    line-height: 1.6;
    color: fn.get-color("white-2");
}
